body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #007bff;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

select, input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#notifications, #hourly-reservations {
    margin-top: 20px;
    text-align: left;
    width: 100%;
}

nav a {
    margin: 10px;
    color: #007bff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.session {
    background-color: #e7f3fe;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid #007bff;
    border-radius: 5px;
}

.session h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #007bff;
}

.session div {
    font-size: 16px;
    color: #555;
}

.session button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.session button:hover {
    background-color: #c82333;
}
